.characteristics {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
}

.lastUpdate {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.time {
  font-size: 21px;
  font-weight: 400;
  margin-left: 8px;
  color: #fff;
}

.currentPlaceDate {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: baseline;
}
.numbers {
  color: #fae04d;
  font-size: 24px;
  font-weight: 500;
}

.city {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  margin-right: 24px;

  color: #ffffff;
}

.loaderContainer {
  text-align: center;
  justify-items: center;
}

.temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 40px;
}

.numbersTemp {
  color: #fae04d;
  font-size: 32px;
  font-weight: 400;
}
