.favoriteCities {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  outline: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.favoriteCities:hover {
  color: #ffd702;
}

.numbers {
  color: #ffd702;
  font-weight: 400;
}

.cityWrapper {
  background: rgba(36, 36, 36, 0.6);
  padding: 6px 8px;
  border-radius: 4px;
}

.icon {
  margin-right: 8px;
}

.text {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
